In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
test_orig = pd.read_csv('../data/TOD/experiments/clean/test/test.tsv',sep='\t')
test_orig.head()

In [ ]:
test_aug = pd.read_csv('../data/TOD/experiments/back_trans/raw/test_fbwmt19_de_N3_F64_B64.tsv',sep='\t',header=None,names=['ID','ORIG','AUG'])
test_aug.head()

In [ ]:
joined_frame = pd.merge(test_orig, test_aug, how='inner')
joined_frame.head()

In [ ]:
joined_frame = joined_frame[['ID','AUG','INTENT','INTENT_ID']]
joined_frame.head()

In [ ]:
joined_frame = joined_frame.rename(columns={'AUG':'TEXT'},inplace=False)
joined_frame.head()

In [ ]:
joined_frame.to_csv('../data/TOD/experiments/back_trans/de/test_fbwmt19_de_N3_F64_B64.tsv',index=False,sep='\t')

# Training set processing

In [83]:
orig_train = pd.read_csv('../data/ATIS/experiments/clean/train/train.tsv',sep='\t')
orig_train.head()

,ID,TEXT,INTENT,INTENT_ID
0,3997,what ground transportation is available in denver,atis_ground_service,13
1,3026,show me fares from dallas to baltimore that co...,atis_airfare,2
2,1910,flights on american from phoenix to chicago on...,atis_flight,9
3,584,i want to arrive in detroit around 6 pm and i'...,atis_flight,9
4,4254,please list the flights from charlotte to long...,atis_flight,9

In [84]:
orig_train['ID'] = list(range(len(orig_train)))
orig_train.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,what ground transportation is available in denver,atis_ground_service,13
1,1,show me fares from dallas to baltimore that co...,atis_airfare,2
2,2,flights on american from phoenix to chicago on...,atis_flight,9
3,3,i want to arrive in detroit around 6 pm and i'...,atis_flight,9
4,4,please list the flights from charlotte to long...,atis_flight,9

In [85]:
# de train
aug_train_de_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_train_de_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru train

aug_train_ru_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [86]:
aug_train_de_1.head()

,ID,TEXT,AUG_TEXT
0,0,what ground transportation is available in denver,What ground transportation options are there i...
1,0,what ground transportation is available in denver,What are the ground transportation options in ...
2,0,what ground transportation is available in denver,What ground transportation options are availab...
3,0,what ground transportation is available in denver,What ground transportation options exist in De...
4,0,what ground transportation is available in denver,What means of ground transportation are availa...

In [87]:
aug_train = pd.concat([aug_train_de_1,aug_train_de_2,aug_train_de_3,aug_train_de_4,
                       aug_train_ru_1,aug_train_ru_2,aug_train_ru_3,aug_train_ru_4])

In [88]:
merged_data = pd.merge(aug_train,orig_train,on='ID')
merged_data.head()

,ID,TEXT_x,AUG_TEXT,TEXT_y,INTENT,INTENT_ID
0,0,what ground transportation is available in denver,What ground transportation options are there i...,what ground transportation is available in denver,atis_ground_service,13
1,0,what ground transportation is available in denver,What are the ground transportation options in ...,what ground transportation is available in denver,atis_ground_service,13
2,0,what ground transportation is available in denver,What ground transportation options are availab...,what ground transportation is available in denver,atis_ground_service,13
3,0,what ground transportation is available in denver,What ground transportation options exist in De...,what ground transportation is available in denver,atis_ground_service,13
4,0,what ground transportation is available in denver,What means of ground transportation are availa...,what ground transportation is available in denver,atis_ground_service,13

In [89]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

In [90]:
merged_data = merged_data.rename(columns={'AUG_TEXT':'TEXT'},inplace=False)

In [91]:
merged_data.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,What ground transportation options are there i...,atis_ground_service,13
1,0,What are the ground transportation options in ...,atis_ground_service,13
2,0,What ground transportation options are availab...,atis_ground_service,13
3,0,What ground transportation options exist in De...,atis_ground_service,13
4,0,What means of ground transportation are availa...,atis_ground_service,13

In [92]:
len(merged_data)

232496

In [93]:
merged_data.to_csv('../data/ATIS/experiments/AT/back_trans/train.tsv',index=False,sep='\t')

# validation set processing

In [94]:
orig_val = pd.read_csv('../data/ATIS/experiments/clean/dev/dev.tsv',sep='\t')
orig_val.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,i want to fly from boston at 838 am and arrive...,atis_flight,9
1,1,show me all round trip flights between houston...,atis_flight,9
2,2,i would like some information on a flight from...,atis_flight,9
3,3,what are the coach flights between dallas and ...,atis_flight,9
4,4,i'm flying from boston to the bay area,atis_flight,9

In [95]:
orig_val['ID'] = list(range(len(orig_val)))
orig_val.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,i want to fly from boston at 838 am and arrive...,atis_flight,9
1,1,show me all round trip flights between houston...,atis_flight,9
2,2,i would like some information on a flight from...,atis_flight,9
3,3,what are the coach flights between dallas and ...,atis_flight,9
4,4,i'm flying from boston to the bay area,atis_flight,9

In [96]:
# de val
aug_val_de_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_val_de_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru val

aug_val_ru_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [97]:
aug_val = pd.concat([aug_val_de_1,aug_val_de_2,aug_val_de_3,aug_val_de_4,
                       aug_val_ru_1,aug_val_ru_2,aug_val_ru_3,aug_val_ru_4])

merged_data = pd.merge(orig_val, aug_val, how='inner')

In [98]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

merged_data = merged_data.rename(columns={'AUG_TEXT':'TEXT'},inplace=False)

In [99]:
merged_data.to_csv('../data/ATIS/experiments/AT/back_trans/val.tsv',index=False,sep='\t')

Merging adversarial and clean examples

In [135]:
orig_train = pd.read_csv('../data/ATIS/experiments/clean/train/train.tsv',sep='\t')
orig_train.head()

,ID,TEXT,INTENT,INTENT_ID
0,3997,what ground transportation is available in denver,atis_ground_service,13
1,3026,show me fares from dallas to baltimore that co...,atis_airfare,2
2,1910,flights on american from phoenix to chicago on...,atis_flight,9
3,584,i want to arrive in detroit around 6 pm and i'...,atis_flight,9
4,4254,please list the flights from charlotte to long...,atis_flight,9

In [136]:
len(orig_train)

4478

In [137]:
aug_train = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train.tsv',sep='\t')
aug_train.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,What ground transportation options are there i...,atis_ground_service,13
1,0,What are the ground transportation options in ...,atis_ground_service,13
2,0,What ground transportation options are availab...,atis_ground_service,13
3,0,What ground transportation options exist in De...,atis_ground_service,13
4,0,What means of ground transportation are availa...,atis_ground_service,13

In [138]:
X_train, X_test, y_train, y_test = train_test_split(aug_train, aug_train['ID'], test_size=0.025, random_state=1)

In [139]:
len(X_train),len(aug_train), len(X_test)

(226683, 232496, 5813)

In [140]:
final_train = pd.concat([orig_train,X_test])
len(orig_train),len(final_train)

(4478, 10291)

In [142]:
final_train = final_train.sample(frac=1)
len(final_train)

10291

In [143]:
final_train.to_csv('../data/ATIS/experiments/AT/back_trans/merged_train.tsv',index=False,sep='\t')

Merging adversarial and clean examples : val

In [144]:
orig_val = pd.read_csv('../data/ATIS/experiments/clean/dev/dev.tsv',sep='\t')
orig_val.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,i want to fly from boston at 838 am and arrive...,atis_flight,9
1,1,show me all round trip flights between houston...,atis_flight,9
2,2,i would like some information on a flight from...,atis_flight,9
3,3,what are the coach flights between dallas and ...,atis_flight,9
4,4,i'm flying from boston to the bay area,atis_flight,9

In [145]:
aug_val = pd.read_csv('../data/ATIS/experiments/AT/back_trans/val.tsv',sep='\t')
aug_val.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,I plan to fly from Boston at 838 and arrive in...,atis_flight,9
1,0,I would like to fly from Boston at 838 and arr...,atis_flight,9
2,0,I want to fly from Boston at 838 and arrive in...,atis_flight,9
3,0,I want to fly from Boston at 838 and arrive in...,atis_flight,9
4,0,I would like to fly from Boston at 838 and arr...,atis_flight,9

In [146]:
X_train, X_test, y_train, y_test = train_test_split(aug_val, aug_val['ID'], test_size=0.025, random_state=1)

In [147]:
len(X_train),len(aug_train), len(X_test)

(25502, 232496, 654)

In [148]:
final_val = pd.concat([orig_val,X_test])
len(final_val)

1154

In [149]:
final_val = final_val.sample(frac=1)

In [150]:
final_val.to_csv('../data/ATIS/experiments/AT/back_trans/merged_val.tsv',index=False,sep='\t')

# Adversarial train/val set processing for SNIPS

In [161]:
orig_train = pd.read_csv('../data/SNIPS/experiments/clean/train/train.tsv',sep='\t')
orig_train['ID'] = list(range(len(orig_train)))

In [162]:
# de train
aug_train_de_1 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_train_de_2 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_3 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_4 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru train

aug_train_ru_1 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_2 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_3 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_4 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [163]:
aug_train = pd.concat([aug_train_de_1,aug_train_de_2,aug_train_de_3,aug_train_de_4,
                       aug_train_ru_1,aug_train_ru_2,aug_train_ru_3,aug_train_ru_4])

merged_data = pd.merge(aug_train,orig_train,on='ID')

In [164]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

In [165]:
merged_data.head()

   ID                       AUG_TEXT     INTENT  INTENT_ID
0   0       Music from the year 2014  PlayMusic          3
1   0             play music of 2014  PlayMusic          3
2   0         Music of the Year 2014  PlayMusic          3
3   0  play music from the year 2014  PlayMusic          3
4   0       Music from the Year 2014  PlayMusic          3

In [166]:
merged_data = merged_data.rename(columns={'AUG_TEXT':'TEXT'},inplace=False)

In [167]:
merged_data.to_csv('../data/SNIPS/experiments/AT/back_trans/train.tsv',index=False,sep='\t')

In [168]:
orig_train = pd.read_csv('../data/SNIPS/experiments/clean/train/train.tsv',sep='\t')
aug_train = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/train.tsv',sep='\t')

X_train, X_test, y_train, y_test = train_test_split(aug_train, aug_train['ID'], test_size=0.025, random_state=1)

print(len(X_train),len(aug_train), len(X_test))

final_train = pd.concat([orig_train,X_test])
print(len(orig_train),len(final_train))

final_train = final_train.sample(frac=1)
print(len(final_train))

final_train.to_csv('../data/SNIPS/experiments/AT/back_trans/merged_train.tsv',index=False,sep='\t')

721667 740172 18505
13084 31589
31589

Processing validation set

In [170]:
orig_val = pd.read_csv('../data/SNIPS/experiments/clean/dev/dev.tsv',sep='\t')

In [171]:
orig_val['ID'] = list(range(len(orig_val)))

In [172]:
# de val
aug_val_de_1 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_val_de_2 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_3 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_4 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru val

aug_val_ru_1 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_2 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_3 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_4 = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [173]:
aug_val = pd.concat([aug_val_de_1,aug_val_de_2,aug_val_de_3,aug_val_de_4,
                       aug_val_ru_1,aug_val_ru_2,aug_val_ru_3,aug_val_ru_4])

merged_data = pd.merge(orig_val, aug_val, how='inner')

In [174]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

merged_data = merged_data.rename(columns={'AUG_TEXT':'TEXT'},inplace=False)

In [175]:
merged_data.to_csv('../data/SNIPS/experiments/AT/back_trans/val.tsv',index=False,sep='\t')

In [ ]:
orig_train = pd.read_csv('../data/SNIPS/experiments/clean/dev/dev.tsv',sep='\t')
aug_train = pd.read_csv('../data/SNIPS/experiments/AT/back_trans/val.tsv',sep='\t')

X_train, X_test, y_train, y_test = train_test_split(aug_train, aug_train['ID'], test_size=0.025, random_state=1)

print(len(X_train),len(aug_train), len(X_test))

final_train = pd.concat([orig_train,X_test])
print(len(orig_train),len(final_train))

final_train = final_train.sample(frac=1)
print(len(final_train))

final_train.to_csv('../data/SNIPS/experiments/AT/back_trans/merged_val.tsv',index=False,sep='\t')