In [1]:
import pandas as pd
from sklearn import t

In [124]:
test_orig = pd.read_csv('../data/TOD/experiments/clean/test/test.tsv',sep='\t')
test_orig.head()

   ID                                  TEXT                 INTENT  INTENT_ID
0   0     i want to be reminded to file tax  reminder_set_reminder          7
1   1  i don't want to forget to file taxes  reminder_set_reminder          7
2   2                             my alarms      alarm_show_alarms          3
3   3                        show my alarms      alarm_show_alarms          3
4   4                                snooze     alarm_snooze_alarm          4

In [160]:
test_aug = pd.read_csv('../data/TOD/experiments/back_trans/raw/test_fbwmt19_de_N3_F64_B64.tsv',sep='\t',header=None,names=['ID','ORIG','AUG'])
test_aug.head()

,ID,ORIG,AUG
0,0,i want to be reminded to file tax,I would like to be reminded to file taxes
1,0,i want to be reminded to file tax,I would like to be reminded to deposit taxes
2,0,i want to be reminded to file tax,I want to be reminded to levy taxes
3,0,i want to be reminded to file tax,I want to be reminded to deposit taxes
4,0,i want to be reminded to file tax,I would like to be reminded to deposit tax

In [161]:
joined_frame = pd.merge(test_orig, test_aug, how='inner')
joined_frame.head()

,ID,TEXT,INTENT,INTENT_ID,ORIG,AUG
0,0,i want to be reminded to file tax,reminder_set_reminder,7,i want to be reminded to file tax,I would like to be reminded to file taxes
1,0,i want to be reminded to file tax,reminder_set_reminder,7,i want to be reminded to file tax,I would like to be reminded to deposit taxes
2,0,i want to be reminded to file tax,reminder_set_reminder,7,i want to be reminded to file tax,I want to be reminded to levy taxes
3,0,i want to be reminded to file tax,reminder_set_reminder,7,i want to be reminded to file tax,I want to be reminded to deposit taxes
4,0,i want to be reminded to file tax,reminder_set_reminder,7,i want to be reminded to file tax,I would like to be reminded to deposit tax

In [162]:
joined_frame = joined_frame[['ID','AUG','INTENT','INTENT_ID']]
joined_frame.head()

,ID,AUG,INTENT,INTENT_ID
0,0,I would like to be reminded to file taxes,reminder_set_reminder,7
1,0,I would like to be reminded to deposit taxes,reminder_set_reminder,7
2,0,I want to be reminded to levy taxes,reminder_set_reminder,7
3,0,I want to be reminded to deposit taxes,reminder_set_reminder,7
4,0,I would like to be reminded to deposit tax,reminder_set_reminder,7

In [163]:
joined_frame = joined_frame.rename(columns={'AUG':'TEXT'},inplace=False)
joined_frame.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,I would like to be reminded to file taxes,reminder_set_reminder,7
1,0,I would like to be reminded to deposit taxes,reminder_set_reminder,7
2,0,I want to be reminded to levy taxes,reminder_set_reminder,7
3,0,I want to be reminded to deposit taxes,reminder_set_reminder,7
4,0,I would like to be reminded to deposit tax,reminder_set_reminder,7

In [164]:
joined_frame.to_csv('../data/TOD/experiments/back_trans/de/test_fbwmt19_de_N3_F64_B64.tsv',index=False,sep='\t')

# Training set processing

In [2]:
orig_train = pd.read_csv('../data/ATIS/experiments/clean/train/train.tsv',sep='\t')
orig_train.head()

,ID,TEXT,INTENT,INTENT_ID
0,3997,what ground transportation is available in denver,atis_ground_service,13
1,3026,show me fares from dallas to baltimore that co...,atis_airfare,2
2,1910,flights on american from phoenix to chicago on...,atis_flight,9
3,584,i want to arrive in detroit around 6 pm and i'...,atis_flight,9
4,4254,please list the flights from charlotte to long...,atis_flight,9

In [15]:
# de train
aug_train_de_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_train_de_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_de_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/de/train_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru train

aug_train_ru_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_train_ru_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/train/ru/train_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [16]:
aug_train_de_1.head()

,ID,TEXT,AUG_TEXT
0,0,what ground transportation is available in denver,What ground transportation options are there i...
1,0,what ground transportation is available in denver,What are the ground transportation options in ...
2,0,what ground transportation is available in denver,What ground transportation options are availab...
3,0,what ground transportation is available in denver,What ground transportation options exist in De...
4,0,what ground transportation is available in denver,What means of ground transportation are availa...

In [17]:
aug_train = pd.concat([aug_train_de_1,aug_train_de_2,aug_train_de_3,aug_train_de_4,
                       aug_train_ru_1,aug_train_ru_2,aug_train_ru_3,aug_train_ru_4])

In [23]:
merged_data = pd.merge(orig_train, aug_train, how='inner')

In [25]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

In [26]:
merged_data = merged_data.rename(columns={'AUG':'TEXT'},inplace=False)

In [28]:
merged_data.to_csv('../data/ATIS/experiments/AT/back_trans/train.tsv',index=False,sep='\t')

# validation set processing

In [31]:
orig_val = pd.read_csv('../data/ATIS/experiments/clean/dev/dev.tsv',sep='\t')
orig_val.head()

,ID,TEXT,INTENT,INTENT_ID
0,0,i want to fly from boston at 838 am and arrive...,atis_flight,9
1,1,show me all round trip flights between houston...,atis_flight,9
2,2,i would like some information on a flight from...,atis_flight,9
3,3,what are the coach flights between dallas and ...,atis_flight,9
4,4,i'm flying from boston to the bay area,atis_flight,9

In [33]:
# de val
aug_val_de_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F16_B16.tsv',header=None,names=['ID','TEXT','AUG_TEXT'],sep='\t')
aug_val_de_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_de_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/de/dev_fbwmt19_de_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

# ru val

aug_val_ru_1 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F16_B16.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_2 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F1_B1.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_3 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F4_B4.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')
aug_val_ru_4 = pd.read_csv('../data/ATIS/experiments/AT/back_trans/dev/ru/dev_fbwmt19_ru_N3_F64_B64.tsv', header=None,names=['ID','TEXT','AUG_TEXT'], sep='\t')

In [34]:
aug_val = pd.concat([aug_val_de_1,aug_val_de_2,aug_val_de_3,aug_val_de_4,
                       aug_val_ru_1,aug_val_ru_2,aug_val_ru_3,aug_val_ru_4])

merged_data = pd.merge(orig_val, aug_val, how='inner')

In [35]:
merged_data = merged_data[['ID','AUG_TEXT','INTENT','INTENT_ID']]

merged_data = merged_data.rename(columns={'AUG':'TEXT'},inplace=False)

In [36]:
merged_data.to_csv('../data/ATIS/experiments/AT/back_trans/val.tsv',index=False,sep='\t')