In [10]:
import pandas as pd
from collections import Counter

In [3]:
data = pd.read_csv('../../data/SNIPS/raw/test/test.tsv',sep='\t')
data

,ID,TEXT,INTENT,SLOTS
0,0,add sabrina salerno to the grime instrumentals...,AddToPlaylist,O B-artist I-artist O O B-playlist I-playlist O
1,1,i want to bring four people to a place that s ...,BookRestaurant,O O O O B-party_size_number O O O O O O B-spat...
2,2,put lindsey cardinale into my hillary clinton ...,AddToPlaylist,O B-artist I-artist O B-playlist_owner B-playl...
3,3,will it snow in mt on june 13 2038,GetWeather,O O B-condition_description O B-state O B-time...
4,4,play signe anderson chant music that is newest,PlayMusic,O B-artist I-artist B-music_item O O O B-sort
...,...,...,...,...
695,695,find a tv series called armageddon summer,SearchCreativeWork,O O B-object_type I-object_type O B-object_nam...
696,696,find politicsnation with al sharpton,SearchCreativeWork,O B-object_name I-object_name I-object_name I-...
697,697,rate this album 0 points out of 6,RateBook,O B-object_select B-object_type B-rating_value...
698,698,add leah kauffman to my uncharted 4 nathan dra...,AddToPlaylist,O B-artist I-artist O B-playlist_owner B-playl...
699,699,rate this album two out of 6,RateBook,O B-object_select B-object_type B-rating_value...

In [8]:
def get_context(seq):
    seqList = seq.split(' ')
    cnt = 0
    for token in seqList:
        if token == 'O':
            cnt += 1
    return cnt

In [9]:
slots_freq = []

for seq in list(data.SLOTS):
    slots_freq.append(get_context(seq))

In [11]:
Counter(slots_freq)

Counter({4: 113,
         14: 2,
         2: 111,
         8: 35,
         5: 107,
         3: 148,
         1: 34,
         9: 13,
         7: 53,
         6: 66,
         10: 5,
         12: 4,
         11: 8,
         13: 1})